@import "variables";

.input-container {
  margin-top: calc(3vw - 0.3rem);
  padding-bottom: 0px;

  input {
    cursor: pointer;
    color: $main-color;
    font-size: 3.5vw;
    border-radius: 1.2rem;
    margin: 0.4rem;
    padding-left: 0.4rem;
    border: 1px solid $main-color;
    width: 60%;
    background: rgba(33, 59, 114, 1);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    /* Hack to make "rows" attribute apply in Firefox. */

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $main-color;
      text-align: center;

      &:focus {
        color: #f5f5f500;
      }
    }
  }
}

/* Grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .input-container {
    margin-top: 0px;
    padding-bottom: 0.5em;

    input {
      font-size: 1.1em;
    }
  }
}
