@import "variables";

.forecast-day-container {
  display: inline-block;
  text-align: center;
  color: $main-color;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 1rem;

  .low-temp {
    color: $secondary-color;
  }

  .row {
    font-size: calc(0.7rem + 0.6vw);
    h3 {
      font-size: calc(1rem + 0.6vw);
      margin-bottom: 0.1rem;
    }

    i {
      font-size: calc(2rem + 4vw);
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: calc(5vw + 0.1rem);
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .forecast-day-container {
    min-width: 6.75em;
    .row {
      font-size: 1em;

      h3 {
        font-size: 1.7em;
        margin-top: 0px;
        margin-bottom: 0.2em;
      }

      i {
        font-size: 4.4em;
        padding-bottom: 0.1em;
      }
    }
  }
}
