@import "variables";

.weather-container-wrapper {
  height: calc(6rem + 110vw);
  max-height: 42em;
  padding-top: 1rem;
}

.weather-container {
  max-width: 90vw;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 4rem #0d1322;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.weather-image {
  filter: blur(0.3px) brightness(40%);
  height: 100%;
  object-fit: cover;
}

.footer-image {
  height: calc(3.5vw + 0.1rem);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.location-info-container {
  margin-bottom: min(40vw - 7rem, 5rem);
  padding: 1vw;
  background: rgba(0, 0, 0, 0);
}

.weather-info-container {
  padding: 1vw;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  .weather-container-wrapper {
    max-height: 42em;
  }

  .weather-container {
    max-width: 30em;
  }

  .location-info-container {
    margin-bottom: 3em;
    padding: 0.5em 1em;
  }

  .weather-info-container {
    padding: 1em 1em;
  }

  .footer-image {
    height: 1.1em;
  }
}
