@import "variables";

body,
html {
  background: linear-gradient(
    to bottom,
    rgba(23, 34, 59, 1) 70%,
    rgba(33, 59, 114, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

p {
  font-size: 5vw;
  color: $main-color;
  font-weight: normal;
}

i {
  padding-right: 0.8rem;
  color: $main-color;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  p {
    font-size: 1.6rem;
  }
}
