@import "variables";

p {
  padding: 0px;
  margin: 0px;
}

i {
  font-size: calc(2rem + 7vw);
}

.weather-daily-container {
  padding-left: 1vw;
  padding-right: 1vw;

  cursor: default;
}

.weather-daily-info-container {
  p {
    font-size: calc(1rem + 3vw);

    display: inline;
  }
}

.weather-atmosphere-info-container {
  justify-content: center;
  p,
  i {
    font-size: calc(0.5rem + 2vw);
    display: inline;
  }
}

#toggle-temperature-button {
  display: inline;
  color: $main-color;
  font-size: calc(1rem + 0.6vw);
  z-index: 1;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  i {
    font-size: 5em;
  }

  .weather-daily-container {
    padding: 0px;
  }

  .weather-daily-info-container {
    p {
      font-size: 2.5em;
    }
  }

  .weather-atmosphere-info-container {
    p,
    i {
      font-size: 1.5em;
    }
  }

  #toggle-temperature-button {
    font-size: 1.25em;
  }
}
